[Unit]
Description=dozzle container managed by Podman
After=network.target

[Container]
ContainerName=dozzle
Pod=monitor.pod
Image=docker.io/amir20/dozzle:v10.5.0
EnvironmentFile=./%n.d/env
Volume=/run/user/%U/podman/podman.sock:/var/run/docker.sock
SecurityLabelDisable=true

[Service]
Restart=always

[Install]
WantedBy=multi-user.target