[Unit]
Description=dozzle container managed by Podman
After=network.target

[Container]
ContainerName=monitor-dozzle
Pod=monitor.pod
Image=docker.io/amir20/dozzle:v10.6.4
EnvironmentFile=./%N.env
Volume=/run/user/%U/podman/podman.sock:/var/run/docker.sock
SecurityLabelDisable=true

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
