[Unit]
Description=Renovate dependency updater
After=network.target

[Container]
ContainerName=monitor-renovate
Pod=monitor.pod
Image=ghcr.io/renovatebot/renovate:43.210.1-full
EnvironmentFile=./%N.env
Secret=monitor-renovate-forgejo-token,type=env,target=RENOVATE_TOKEN
Secret=monitor-renovate-registry-alias,type=env,target=RENOVATE_REGISTRY_ALIASES
Secret=monitor-renovate-repo-endpoint,type=env,target=RENOVATE_ENDPOINT
Secret=github-read-token,type=env,target=RENOVATE_GITHUB_COM_TOKEN

[Install]
WantedBy=multi-user.target
