[Unit]
Description=Argus container managed by Podman
After=network.target
Requires=monitor-service-hub.container

[Container]
ContainerName=monitor-argus
Pod=monitor.pod
Image=ghcr.io/release-argus/argus:0.29.4
Volume=argus-data.volume:/app/data/:Z
Volume=./%n.d/config.yml:/app/config.yml:ro,Z
EnvironmentFile=./%n.d/env
Secret=domain-secret,type=env,target=BASE_DOMAIN_NAME
Secret=github-token,type=env,target=GITHUB_ACCESS_TOKEN
Secret=argus-update-webhook-secret,type=env,target=UPDATE_WEBHOOK_SECRET

HealthCmd=/healthcheck http://localhost:9090/api/v1/healthcheck
HealthInterval=1m
HealthRetries=3
HealthStartPeriod=10s
HealthTimeout=10s

[Service]
Restart=always

[Install]
WantedBy=multi-user.target