[Unit]
Description=Jotty container managed by Podman
After=network.target

[Container]
ContainerName=notes-jotty
Pod=notes.pod
Image=ghcr.io/fccview/jotty:1.24.0
AutoUpdate=registry
Volume=notes-jotty-data.volume:/app/data:Z
Volume=notes-jotty-config.volume:/app/config:Z
Volume=notes-jotty-cache.volume:/app/.next/cache:Z
EnvironmentFile=./%N.env
Secret=notes-jotty-oidc-issuer,type=env,target=OIDC_ISSUER
Secret=notes-jotty-oidc-client-id,type=env,target=OIDC_CLIENT_ID
Secret=notes-jotty-app-url,type=env,target=APP_URL
Secret=notes-jotty-oidc-client-secret,type=env,target=OIDC_CLIENT_SECRET

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
