[Unit]
Description=draw.io container managed by Podman
After=network.target

[Container]
ContainerName=notes-drawio
Pod=notes.pod
Image=docker.io/jgraph/drawio:30.2.7

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
