[Unit]
Description=Immich server container managed by Podman
After=network.target immich-postgres.service immich-redis.service
Requires=immich-postgres.service immich-redis.service

[Container]
Pod=immich.pod
ContainerName=immich-server
EnvironmentFile=./immich.env
Image=ghcr.io/immich-app/immich-server:v3.1.0
Volume=/etc/localtime:/etc/localtime:ro
Mount=type=bind,source=/mnt/nas/media/photos/,destination=/data,relabel=private

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
