[Unit]
Description=Immich Postgres container managed by Podman
After=network.target

[Container]
Pod=immich.pod
ContainerName=immich_postgres
Environment="POSTGRES_INITDB_ARGS=--data-checksums"
EnvironmentFile=immich.service.d/env
Secret=immich-db-password,type=env,target=POSTGRES_PASSWORD
Volume=immich-postgres-data.volume:/var/lib/postgresql/data:Z
Image=ghcr.io/immich-app/postgres:14-vectorchord0.5.3
ShmSize=128mb

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
