[Unit]
Description=Immich redis container managed by Podman
After=network.target

[Container]
Pod=immich.pod
ContainerName=immich_redis
Image=docker.io/valkey/valkey:9.0.1
HealthCmd="/usr/local/bin/redis-cli ping || exit 1"
HealthStartPeriod=30s
HealthInterval=10s
HealthTimeout=5s
HealthRetries=5
Notify=healthy

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
