[Unit]
Description=Immich machine learning container managed by Podman
After=network.target

[Container]
Pod=immich.pod
ContainerName=immich_machine_learning
Image=ghcr.io/immich-app/immich-machine-learning:v2
Volume=immich-machine-learning-model-cache.volume:/cache:Z
EnvironmentFile=immich.service.d/env

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
