[Unit]
Description=Backup service

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --user start backup-restic.service
ExecStartPost=/usr/bin/systemctl --user start backup-rclone.service
