[Unit]
Description=Caddy container managed by Podman
After=network.target

[Container]
ContainerName=caddy
Pod=caddy.pod
Image=home-services/caddy-cloudflare-l4:2.11.2-alpine
Secret=cloudflare-token,type=env,target=CF_API_TOKEN
Secret=domain-secret,type=env,target=DOMAIN
Volume=caddy-data.volume:/data:Z
Volume=caddy-config.volume:/config:Z
Volume=./%N-Caddyfile:/etc/caddy/Caddyfile:ro,Z

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
