# Cloudflare TLS

(cloudflare) {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
}

{
	# Admin API endpoint
	admin off

	# Enable logging
	log {
		output stdout
		format console
	}

	servers {
		listener_wrappers {
		layer4 {
			# Check traffic for ssh and route it to forgejo:2222 if it matches
			@ssh ssh
			route @ssh {
			proxy forgejo.pod:2222
			}
			route
		}
		tls
		}
  }
}

# Home servers

mila.{env.DOMAIN} {
	reverse_proxy mila:9090
	import cloudflare
}

# Home services (part of podman deployment)

# Monitor services

argus.{env.DOMAIN} {
	reverse_proxy monitor.pod:9090
	import cloudflare
}

dozzle.{env.DOMAIN} {
	reverse_proxy monitor.pod:8080
	import cloudflare
}

uptime-kuma.{env.DOMAIN} {
	reverse_proxy monitor.pod:3001
	import cloudflare
}

version-api.{env.DOMAIN} {
	reverse_proxy monitor.pod:8081
	import cloudflare
}

# Notes services

jotty.{env.DOMAIN} {
	reverse_proxy notes.pod:3000
	import cloudflare
}

drawio.{env.DOMAIN} {
	reverse_proxy notes.pod:8080
	import cloudflare
}

# Misc tools

bentopdf.{env.DOMAIN} {
	reverse_proxy tools.pod:8080
	import cloudflare
}

it-tools.{env.DOMAIN} {
	reverse_proxy tools.pod:80
	import cloudflare
}

# LLM Services

open-webui.{env.DOMAIN} {
	reverse_proxy llm.pod:8080
	import cloudflare
}

llamacpp.{env.DOMAIN} {
	reverse_proxy llm.pod:10000
	import cloudflare
}

# Single services

audiobookshelf.{env.DOMAIN} {
	reverse_proxy audiobookshelf.pod:80
	encode gzip zstd
	import cloudflare
}

authentik.{env.DOMAIN} {
	reverse_proxy authentik.pod:9000
	header {
		websocket
	}
	import cloudflare
}

bichon.{env.DOMAIN} {
	reverse_proxy bichon.pod:15630
	import cloudflare
}

booklore.{env.DOMAIN} {
	reverse_proxy booklore.pod:6060
	import cloudflare
}

firefly.{env.DOMAIN} {
	reverse_proxy firefly.pod:8080
	import cloudflare
}

forgejo.{env.DOMAIN} {
	reverse_proxy forgejo.pod:3000
	import cloudflare
}

immich.{env.DOMAIN} {
	reverse_proxy immich.pod:2283
	import cloudflare
}

jellyfin.{env.DOMAIN} {
	reverse_proxy jellyfin.pod:8096
	import cloudflare
}

karakeep.{env.DOMAIN} {
	reverse_proxy karakeep.pod:3000
	import cloudflare
}

mealie.{env.DOMAIN} {
	reverse_proxy mealie.pod:9000
	import cloudflare
}

miniflux.{env.DOMAIN} {
	reverse_proxy miniflux.pod:8080
	import cloudflare
}

papra.{env.DOMAIN} {
	reverse_proxy papra.pod:1221
	import cloudflare
}

termix.{env.DOMAIN} {
	reverse_proxy termix.pod:8080
	import cloudflare
}

transmission.{env.DOMAIN} {
	reverse_proxy transmission.pod:9091
	import cloudflare
}