# Cloudflare TLS

(cloudflare) {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
}

{
	# Admin API endpoint
	admin off

	# Enable logging
	log {
		output stdout
		format console
	}
}

# Home services (part of podman deployment)

audiobookshelf.{env.DOMAIN} {
	reverse_proxy audiobookshelf.pod:80
	encode gzip zstd
	import cloudflare
}

authentik.{env.DOMAIN} {
	reverse_proxy authentik.pod:9000
	header {
		websocket
	}
	import cloudflare
}

bentopdf.{env.DOMAIN} {
	reverse_proxy bentopdf.pod:8080
	import cloudflare
}

booklore.{env.DOMAIN} {
	reverse_proxy booklore.pod:6060
	import cloudflare
}

firefly.{env.DOMAIN} {
	reverse_proxy firefly.pod:8080
	import cloudflare
}

forgejo.{env.DOMAIN} {
	reverse_proxy forgejo.pod:3000
	import cloudflare
}

immich.{env.DOMAIN} {
	reverse_proxy immich.pod:2283
	import cloudflare
}

it-tools.{env.DOMAIN} {
	reverse_proxy it-tools.pod:80
	import cloudflare
}

jellyfin.{env.DOMAIN} {
	reverse_proxy jellyfin.pod:8096
	import cloudflare
}

jotty.{env.DOMAIN} {
	reverse_proxy jotty.pod:3000
	import cloudflare
}

karakeep.{env.DOMAIN} {
	reverse_proxy karakeep.pod:3000
	import cloudflare
}

mealie.{env.DOMAIN} {
	reverse_proxy mealie.pod:9000
	import cloudflare
}

miniflux.{env.DOMAIN} {
	reverse_proxy miniflux.pod:8080
	import cloudflare
}

papra.{env.DOMAIN} {
	reverse_proxy papra.pod:1221
	import cloudflare
}

transmission.{env.DOMAIN} {
	reverse_proxy transmission.pod:9091
	import cloudflare
}

# Home servers

mila.{env.DOMAIN} {
	reverse_proxy mila:9090
	import cloudflare
}
