[Unit]
Description=Forgejo container managed by Podman
After=network.target

[Container]
ContainerName=forgejo
Pod=forgejo.pod
Image=codeberg.org/forgejo/forgejo:16.0.1
Volume=forgejo-data.volume:/data:Z
EnvironmentFile=./%N.env

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
