[Unit]
Description=SQL Server container managed by Podman
After=network.target

[Container]
ContainerName=mssql
Pod=mssql.pod
Image=mcr.microsoft.com/mssql/server:2022-CU24-ubuntu-22.04
Volume=mssql.volume:/var/opt/mssql:Z
EnvironmentFile=./%N.env
Secret=mssql-sa-password,type=env,target=MSSQL_SA_PASSWORD

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
