[Unit]
Description=grimmory Web container managed by Podman
Requires=grimmory-mariadb.container
After=network.target

[Container]
ContainerName=grimmory
Pod=grimmory.pod
Image=ghcr.io/grimmory-tools/grimmory:v2.3.0
Volume=grimmory-data.volume:/app/data:Z
Mount=type=bind,source=/mnt/nas/media/books,destination=/books,relabel=private,idmap
Mount=type=bind,source=/mnt/nas/media/bookdrop,destination=/bookdrop,relabel=private,idmap
EnvironmentFile=./%n.d/env
Secret=grimmory-database-password,type=env,target=DATABASE_PASSWORD

HealthCmd=wget -q -O - http://localhost:6060/api/v1/healthcheck
HealthInterval=1m
HealthRetries=5
HealthStartPeriod=1m
HealthTimeout=10s

[Service]
Restart=always

[Install]
WantedBy=multi-user.target