[Unit]
Description=jellyfin container managed by Podman
After=network.target

[Container]
ContainerName=jellyfin
Pod=jellyfin.pod
Image=docker.io/jellyfin/jellyfin:10.11.5
Volume=jellyfin-cache.volume:/cache:Z
Volume=jellyfin-config.volume:/config:Z
Mount=type=bind,source=/mnt/nas/media,destination=/media,ro=true,relabel=private
AddDevice=/dev/dri

[Service]
Restart=always

[Install]
WantedBy=multi-user.target