[Unit]
Description=Paperless AI container managed by Podman
Requires=paperless.service
After=network.target paperless.service

[Container]
Pod=paperless.pod
ContainerName=paperless-ai
Image=docker.io/clusterzx/paperless-ai:3.0.9
EnvironmentFile=./%n.env
Secret=paperless-api-token,type=env,target=PAPERLESS_API_TOKEN
Volume=paperless-ai-data.volume:/app/data:Z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
