[Unit]
Description=Paperless main container managed by Podman
Requires=paperless-postgres.service paperless-redis.service paperless-gotenberg.service paperless-tika.service
After=network.target paperless-postgres.service paperless-redis.service paperless-gotenberg.service paperless-tika.service

[Container]
Pod=paperless.pod
ContainerName=paperless
Image=ghcr.io/paperless-ngx/paperless-ngx:3.0.0
EnvironmentFile=./%N.env
Secret=paperless-db-password,type=env,target=PAPERLESS_DBPASS

Secret=paperless-url,type=env,target=PAPERLESS_URL
Secret=paperless-socialaccount-providers,type=env,target=PAPERLESS_SOCIALACCOUNT_PROVIDERS
Secret=paperless-logout-redirect-url,type=env,target=PAPERLESS_LOGOUT_REDIRECT_URL


Volume=paperless-data.volume:/usr/src/paperless/data:Z
Volume=paperless-media.volume:/usr/src/paperless/media:Z
Volume=paperless-export.volume:/usr/src/paperless/export:Z
Volume=paperless-consume.volume:/usr/src/paperless/consume:Z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
