[Unit]
Description=Paperless gotenberg container managed by Podman
After=network.target

[Container]
Pod=paperless.pod
ContainerName=paperless-gotenberg
Image=docker.io/gotenberg/gotenberg:8.31.0
EnvironmentFile=./%n.d/env
Exec=gotenberg --api-port=3001 --chromium-disable-javascript=true --chromium-allow-list=file:///tmp/.*

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
