[Unit]
Description=Jotty container managed by Podman
After=network.target

[Container]
ContainerName=jotty
Pod=jotty.pod
Image=ghcr.io/fccview/jotty:1.18.0
AutoUpdate=registry
Volume=jotty-data.volume:/app/data:Z
Volume=jotty-config.volume:/app/config:Z
Volume=jotty-cache.volume:/app/.next/cache:Z
EnvironmentFile=./%n.d/env
Secret=jotty-oidc-issuer,type=env,target=OIDC_ISSUER
Secret=jotty-oidc-client-id,type=env,target=OIDC_CLIENT_ID
Secret=jotty-app-url,type=env,target=APP_URL
Secret=jotty-oidc-client-secret,type=env,target=OIDC_CLIENT_SECRET

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
