[Unit]
Description=termix container managed by Podman
Requires=termix-guacd.service
After=network.target termix-guacd.service

[Container]
ContainerName=termix
Pod=termix.pod
Image=ghcr.io/lukegus/termix:release-2.0.0
Volume=termix-data.volume:/app/data:Z
EnvironmentFile=./%N.env
# Network=host

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
