[Unit]
Description=Bentopdf container managed by Podman

[Container]
ContainerName=bentopdf
Pod=tools.pod
Image=ghcr.io/alam00000/bentopdf-simple:2.6.0

[Service]
Restart=on-failure

[Install]
WantedBy=default.target