[Unit]
Description=json path finder container managed by Podman

[Container]
ContainerName=tools-json-path-finder
Pod=tools.pod
Image=localhost/json-path-finder

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
