[Unit]
Description=Jsonlint container managed by Podman

[Container]
ContainerName=tools-jsonlint
Pod=tools.pod
Image=localhost/jsonlint

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
