[Unit]
Description=Bentopdf container managed by Podman
After=network.target

[Container]
ContainerName=tools-bentopdf
Pod=tools.pod
Image=ghcr.io/alam00000/bentopdf-simple:2.8.5

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
