[Unit]
Description=Jsonlint container managed by Podman
After=network.target

[Container]
ContainerName=tools-jsonlint
Pod=tools.pod
Image=localhost/jsonlint:22-alpine

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
