[Unit]
Description=Papra container managed by Podman
After=network.target

[Container]
ContainerName=papra
Pod=papra.pod
Image=ghcr.io/papra-hq/papra:26.0.0-rootless
EnvironmentFile=./%n.d/env
Secret=papra-auth-provider-customs,type=env,target=AUTH_PROVIDERS_CUSTOMS
Secret=papra-auth-secret,type=env,target=AUTH_SECRET
Secret=papra-auth-app-base-url,type=env,target=APP_BASE_URL
Volume=papra-data.volume:/app/app-data:Z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target