[Unit]
Description=Transmission container managed by Podman
After=network.target

[Container]
ContainerName=transmission
Pod=transmission.pod
Image=localhost/transmission-flood:4.1.1
Volume=transmission-data.volume:/config:Z
Volume=transmission-watch-folder.volume:/watch:Z
Mount=type=bind,source=/mnt/nas/downloads,destination=/downloads,relabel=private
EnvironmentFile=./%N.env

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
