[Unit]
Description=Transmission container managed by Podman
After=network.target

[Container]
ContainerName=transmission
Pod=transmission.pod
Image=localhost/transmission-flood:4.0.6
Volume=transmission-data.volume:/config:Z
Volume=transmission-watch-folder.volume:/watch:Z
Volume=/mnt/nas/downloads:/downloads:Z
EnvironmentFile=./%n.d/env

[Service]
Restart=always

[Install]
WantedBy=multi-user.target