[Unit]
Description=Bentopdf container managed by Podman

[Container]
ContainerName=bentopdf
Pod=bentopdf.pod
Image=ghcr.io/alam00000/bentopdf-simple:v1.15.4

[Service]
Restart=on-failure

[Install]
WantedBy=default.target