[Unit]
Description=Portabase Agent container managed by Podman
Requires=portabase.service
After=network.target portabase.service

[Container]
Pod=portabase.pod
Image=docker.io/portabase/agent:1.17.0
ContainerName=portabase-agent
EnvironmentFile=./%N.env
Secret=portabase-agent-edge-key,type=env,target=EDGE_KEY
Volume=portabase-agent-data.volume:/data:Z
Volume=./databases.json:/data/config.json:ro,Z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
