[Unit]
Description=Copyparty container managed by Podman
After=network.target

[Container]
ContainerName=copyparty
Pod=copyparty.pod
Image=docker.io/copyparty/ac:1.20.21
EnvironmentFile=./%N.env
Volume=copyparty-config.volume:/cfg:Z
Mount=type=bind,source=/mnt/nas/media,destination=/w,ro=true,relabel=shared
Mount=type=bind,source=./copyparty.conf,destination=/cfg/copyparty.conf,relabel=private,ro=true
HealthCmd=wget --spider -q http://127.0.0.1:3923/?reset=/_
Exec=--xff-src any

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
