[Unit]
Description=local.ai container managed by Podman
After=network.target

[Container]
ContainerName=llm-localai
Pod=llm.pod
Image=docker.io/localai/localai:v4.1.3-gpu-intel
Volume=llamacpp-models.volume:/models:z
Volume=localai-backends.volume:/backends:Z
Volume=localai-configuration.volume:/configuration:Z
AddDevice=/dev/dri
EnvironmentFile=./%n.d/env

[Service]
Restart=always

[Install]
WantedBy=multi-user.target