[Unit]
Description=lumo tamer container managed by Podman
After=network.target

[Container]
ContainerName=llm-lumo-tamer
Pod=llm.pod
Image=localhost/lumo-tamer:v0.5.0
Volume=llm-lumo-tamer-sessions.volume:/app/sessions:Z
Volume=./%n.d/config.yaml:/app/config.yaml:ro,Z
EnvironmentFile=./%n.d/env
Secret=llm-lumo-tamer-vault-key,target=/run/secrets/lumo-vault-key,mode=0600
# Exec=sleep 10m
# Exec=tamer-server

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
