[Unit]
Description=Firefly cron container managed by Podman
After=network.target

[Container]
ContainerName=firefly-cron
Pod=firefly.pod
Image=docker.io/alpine:latest
Exec=sh -c 'apk add tzdata && (ln -s /usr/share/zoneinfo/$$TZ /etc/localtime || true) && echo "0 3 * * * wget -qO- http://firefly:8080/api/v1/cron/$$STATIC_CRON_TOKEN;echo" | crontab - && crond -f -L /dev/stdout'
EnvironmentFile=./firefly.service.d/env

[Service]
Restart=always

[Install]
WantedBy=multi-user.target