[Unit]
Description=Firefly db container managed by Podman
After=network.target

[Container]
ContainerName=firefly-db
Pod=firefly.pod
Image=docker.io/mariadb:lts
EnvironmentFile=./%N.env
Secret=firefly-db-password,type=env,target=MYSQL_PASSWORD
Volume=firefly-db-data.volume:/var/lib/mysql:Z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
