[Unit]
Description=Firefly Data Importer container managed by Podman
After=network.target

[Container]
ContainerName=firefly-data-importer
Pod=firefly-data-importer.pod
Image=docker.io/fireflyiii/data-importer:version-2.3.2
Secret=firefly-data-importer-api-token,type=env,target=FIREFLY_III_ACCESS_TOKEN
Secret=firefly-app-url,type=env,target=VANITY_URL
EnvironmentFile=./%n.env

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
