[Unit]
Description=Firefly Data Importer container managed by Podman
After=network.target

[Container]
ContainerName=firefly-data-importer
Pod=firefly-data-importer.pod
Image=docker.io/fireflyiii/data-importer:version-2.3.4
Secret=firefly-data-importer-api-token,type=env,target=FIREFLY_III_ACCESS_TOKEN
Secret=firefly-app-url,type=env,target=VANITY_URL
Secret=firefly-data-importer-enable-banking-app-id,type=env,target=ENABLE_BANKING_APP_ID
Secret=firefly-data-importer-enable-banking-app-private-key,type=env,target=ENABLE_BANKING_PRIVATE_KEY
EnvironmentFile=./%N.env

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
