[Unit]
Description=Forgejo Runner container managed by Podman
After=network-online.target

[Container]
Pod=forgejo-runner.pod
ContainerName=forgejo-runner
Image=data.forgejo.org/forgejo/runner:12
User=0:0
SecurityLabelDisable=true
EnvironmentFile=./%N.env
Volume=forgejo-runner-data.volume:/data:Z
Volume=./%N-config.yml:/data/config.yml:ro,Z
Mount=type=bind,source=/run/user/%U/podman/podman.sock,destination=/run/user/1000/podman/podman.sock
Exec=/bin/forgejo-runner daemon --config /data/config.yml

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
