[Unit]
Description=booklore Web container managed by Podman
Requires=booklore-mariadb.container
After=network.target

[Container]
ContainerName=booklore
Pod=booklore.pod
Image=docker.io/booklore/booklore:v1.16.5
Volume=booklore-data.volume:/app/data:Z
Mount=type=bind,source=/mnt/nas/media/books,destination=/books,relabel=private
Mount=type=bind,source=/mnt/nas/media/bookdrop,destination=/bookdrop,relabel=private
EnvironmentFile=./%n.d/env
Secret=booklore-database-password,type=env,target=DATABASE_PASSWORD

HealthCmd=wget -q -O - http://localhost:6060/api/v1/healthcheck
HealthInterval=1m
HealthRetries=5
HealthStartPeriod=1m
HealthTimeout=10s

[Service]
Restart=always

[Install]
WantedBy=multi-user.target