[Unit]
Description=open-webui container managed by Podman
After=network.target

[Container]
ContainerName=open-webui
Pod=ollama.pod
Image=ghcr.io/open-webui/open-webui:v0.7.2
Volume=open-webui-data.volume:/app/backend/data:Z
EnvironmentFile=./%n.d/env
Secret=open-webui-client-id,type=env,target=OAUTH_CLIENT_ID
Secret=open-webui-client-secret,type=env,target=OAUTH_CLIENT_SECRET
Secret=open-webui-provider-url,type=env,target=OPENID_PROVIDER_URL
Secret=open-webui-redirect-url,type=env,target=OPENID_REDIRECT_URI
Secret=open-webui-url,type=env,target=WEBUI_URL

[Service]
Restart=always

[Install]
WantedBy=multi-user.target