[Unit]
Description=Materialious
Requires=youtube-invidious.service
After=network.target youtube-invidious.service

[Container]
ContainerName=youtube-materialious
Pod=youtube.pod
Image=docker.io/wardpearce/materialious-full:latest
EnvironmentFile=./%N.env
Secret=youtube-materialious-cookie-secret,type=env,target=COOKIE_SECRET
Secret=youtube-materialious-default-invidious-instance,type=env,target=PUBLIC_DEFAULT_INVIDIOUS_INSTANCE
Secret=youtube-materialious-whitelist-base-domain,type=env,target=WHITELIST_BASE_DOMAIN
Volume=youtube-materialious-data.volume:/materialious-data:Z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
