[Unit]
Description=Invidious Companion

[Container]
ContainerName=youtube-invidious-companion
Image=quay.io/invidious/invidious-companion:latest
Pod=youtube.pod
Secret=invidious-server-secret-key,type=env,target=SERVER_SECRET_KEY
#DropCapability=ALL
#ReadOnly=true
#SecurityLabelNested=true
Volume=invidious-companion-cache.volume:/var/tmp/youtubei.js:Z

[Install]
WantedBy=default.target
