[Unit]
Description=Invidious Companion
Requires=youtube-invidious.service
After=network.target youtube-invidious.service

[Container]
ContainerName=youtube-invidious-companion
Image=quay.io/invidious/invidious-companion:master-d5504eb
Pod=youtube.pod
Secret=invidious-server-secret-key,type=env,target=SERVER_SECRET_KEY
#DropCapability=ALL
#ReadOnly=true
#SecurityLabelNested=true
Volume=youtube-invidious-companion-cache.volume:/var/tmp/youtubei.js:Z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
