[Unit]
Description=it-tools container managed by Podman
After=network.target

[Container]
ContainerName=it-tools
Pod=it-tools.pod
Image=docker.io/corentinth/it-tools:2024.10.22-7ca5933
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=multi-user.target