Port 22
PermitRootLogin prohibit-password
PubkeyAuthentication yes
PasswordAuthentication no
ChallengeResponseAuthentication no
AuthorizedKeysFile /home/dev/.ssh/authorized_keys
HostKey /home/dev/.ssh-host/ssh_host_ed25519_key
HostKey /home/dev/.ssh-host/ssh_host_rsa_key
